<!DOCTYPE html>
<!--[if lt IE 7]> <html dir="ltr" lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8]>    <html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if IE 10]>    <html dir="ltr" lang="en-US" class="ie10"> <![endif]-->
<!--[if IE 9]>    <html dir="ltr" lang="en-US" class="ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html dir="ltr" lang="en-US" > 
<!--<![endif]--><head>

{$meta}
</head>
<body class="the-{$pages} the-{$acts}" id="marlboro-{$pages}{$acts}">
    <div id="mainBody">
        <div id="body"  {if $pages != 'howto'}class="universal"{/if}>
            <script type="text/javascript">
                $(document).ready(function(){
                    setInterval(getUnreadNotif,6000);
                });
            </script>  
                {if $pages != 'howto'}  
                    {$header}
                {/if}
				{$mainContent}
                {$notification_list}
                {include file="application/web/widgets/popup-notification-detail.html"}
        </div><!-- END .wrapper -->
        {$footer}
    </div><!-- END #mainBody -->
    <div id="bg-popup"></div>
	{include file="application/web/widgets/popup-global.html"}
	{include file="application/web/widgets/popup-unverified.html"}
	
	<script>
    {literal}
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-867847-60', 'neversaymaybe.co.id');
      ga('send', 'pageview');
      {/literal}
    </script> 
</body>
</html>