@font-face {
	font-family: 'raicon';
	src:url('../fonts/raicon.eot?858mx6');
	src:url('../fonts/raicon.eot?#iefix858mx6') format('embedded-opentype'),
		url('../fonts/raicon.woff?858mx6') format('woff'),
		url('../fonts/raicon.ttf?858mx6') format('truetype'),
		url('../fonts/raicon.svg?858mx6#raicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'raicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-house:before {
	content: "\e600";
}
.icon-download:before {
	content: "\e601";
}
.icon-upload:before {
	content: "\e602";
}
.icon-cog:before {
	content: "\e603";
}
.icon-trophy:before {
	content: "\e604";
}
.icon-text:before {
	content: "\e605";
}
.icon-cross:before {
	content: "\e606";
}
.icon-checkmark:before {
	content: "\e607";
}
.icon-cross2:before {
	content: "\e608";
}
.icon-plus:before {
	content: "\e609";
}
.icon-help:before {
	content: "\e60a";
}
.icon-info:before {
	content: "\e60b";
}
.icon-cycle:before {
	content: "\e60c";
}
.icon-cw:before {
	content: "\e60d";
}
.icon-ccw:before {
	content: "\e60e";
}
.icon-user:before {
	content: "\e60f";
}
.icon-user-add:before {
	content: "\e610";
}
.icon-vcard:before {
	content: "\e611";
}
.icon-location:before {
	content: "\e612";
}
.icon-camera:before {
	content: "\e613";
}
.icon-microphone:before {
	content: "\e614";
}
.icon-clock:before {
	content: "\e615";
}
.icon-calendar:before {
	content: "\e616";
}
.icon-key:before {
	content: "\e617";
}
.icon-statistics:before {
	content: "\e618";
}
.icon-pie:before {
	content: "\e619";
}
.icon-bars:before {
	content: "\e61a";
}
.icon-graph:before {
	content: "\e61b";
}
.icon-lock:before {
	content: "\e61c";
}
.icon-lock-open:before {
	content: "\e61d";
}
.icon-mail:before {
	content: "\e61e";
}
.icon-chat:before {
	content: "\e61f";
}
.icon-star:before {
	content: "\e620";
}
.icon-comment:before {
	content: "\e621";
}
.icon-heart:before {
	content: "\e622";
}
.icon-clipboard:before {
	content: "\e623";
}
.icon-arrow-left:before {
	content: "\e624";
}
.icon-arrow-down:before {
	content: "\e625";
}
.icon-arrow-up:before {
	content: "\e626";
}
.icon-arrow-right:before {
	content: "\e627";
}
.icon-folder:before {
	content: "\e628";
}
.icon-archive:before {
	content: "\e629";
}
.icon-earth:before {
	content: "\e62a";
}
.icon-trash:before {
	content: "\e62b";
}
